body{
  text-align: center;
  background-color: navy;
}

h1{
  text-align: center;
  color: black;
}

div{
  height: auto;
  border: 1px solid black;
}

#myHeader{
  border-style:solid;
  border-width: medium;
  border-color: black;
  background-color: lightblue;
}
div{
  position: relative;
  margin: 5px 0;
}

.changeColor{
  background-color: grey;
}
.row{
  background-color: lightblue;
}
